@page "/about"

<h1>About this site.</h1>

<p>
    This website was built using Blazor WebAssembly, it is deployed on GitHub Pages.
    Code can be found <a href="https://github.com/alfattack/alfattack.github.io">here</a>.
</p>



@*<h2>Sources:</h2>

<ul>
    <li><a href="https://gist.github.com/SteveSandersonMS/4f08efe2ad32178add12bfa3eb6e4559">Steve Sanderson's Section Outlet'</a></li>
</ul>*@