@page "/"

<header>
    <h1>Hi, I'm Alexander Brimblecombe</h1>
    <span>I write <a>Software</a> and paint <a href="/paintings">Paintings</a>.</span>
</header>

<a class="about" href="/about">About this website.</a>
