@page "/"

<header>
    <h1>Hi, I'm Alexander Brimblecombe</h1>
    <span>I write <i>Software</i> and paint <i>Paintings</i>.</span>
</header>

<a class="about" href="/about">About this website.</a>
