@import "../Styles/_variables.scss";

h1 {
    margin: 50px;
}

span {
    margin: 25px;
    line-height: 2;
}

span, h1 {
    padding: 5px;
    width: 100%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    > span > i {
        @keyframes inverse-colour {
            0%, 49% {
                opacity: 1;
            }

            50% {
                background-color: transparent;
                color: white;
            }

            51%, 100% {
                opacity: 1;
            }
        }

        color: $primary-color-dark;
        font-style: normal;
        background-color: white;
        padding: 3px;
        animation: inverse-colour 10s linear infinite;

        @for $i from 1 through 2 {
            &:nth-of-type(#{$i}) {
                animation-delay: random(200) + ms;
            }
        }
    }
}

a.about {
    position: absolute;
    margin: 12px;
    bottom: 0;
    right: 0;
    color: #0D1315;
    background-color: white;
}

