@import "../Styles/_variables.scss";

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

h1, span {
    padding: 5px;
    z-index: 10;
    margin: 25px;
    background-color: rgba($primary-color, 0.5);
    color: white;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.index-content {
    background-image: url("img/idx-img-2.jpg");
}