@using System.Reflection
@page "/"

<header>
    <h1>Hi, I'm Alexander Brimblecombe</h1>
    <span>I write <a>Software</a> and paint <a href="https://www.instagram.com/alfie.alexanders/">Paintings</a>.</span>
</header>

<footer>
    <a class="about" href="/about">About this website.</a>
</footer>