@page "/paintings"

<h1>Here are some of my paintings.</h1>
<hr />

<article>
    @if (_paintings != null)
    {
        @foreach (var painting in _paintings)
        {
            <painting>
                <h3>@painting.Name</h3>
                <img src="@painting.Link" />
                <span>@painting.Year</span>
            </painting>
        }
    }
</article>


@code {
    private List<Painting>? _paintings;

    [Inject] public IPaintingListService PaintingListService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _paintings = await PaintingListService.GetPaintings();
    }
}