<nav>
    <h1>A Brimblecombe.</h1>

    <links>
        <NavLink href="https://www.linkedin.com/in/alexander-brimblecombe-187a6013b/"><i class="fa-brands fa-linkedin"></i></NavLink>
        <NavLink href="https://www.instagram.com/alfie.alexanders/"><i class="fa-brands fa-instagram"></i></NavLink>
        <NavLink href="https://github.com/alfattack/alfattack.github.io"><i class="fa-brands fa-github"></i></NavLink>
    </links>
</nav>
