@using System.Reflection;
@inherits LayoutComponentBase

<div class="page">
    <MainNavigation />
    <main>
        @Body
    </main>
</div>

<ParticleAnimation />

@code {
    string? _buildVersion;

    protected override void OnInitialized()
    {
        _buildVersion = Assembly.GetExecutingAssembly()
            ?.GetCustomAttribute<AssemblyInformationalVersionAttribute>()
            ?.InformationalVersion;
    }
}